/*Lato font*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*Urbanist font*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.first-header {
  font-family: "Urbanist", sans-serif;
}
.text-box {
  font-family: "lato", "sans-serif";
  font-weight: bold;
}
@media (min-width: 480px) {
  h1,
  h2,
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 14px;
  }
  body {
    background-color: #3d3b8e;
    color: #fff;
  }
}
@media (min-width: 769px) {
  h1,
  h2,
  h3 {
    font-size: 50px;
  }
  p {
    font-size: 26px;
  }
  body {
    background-color: #b0e298;
    color: #000;
  }
}

/*.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: flex-end;
}*/
